<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body>
    <h2>Thank you for your order from the IBEssays.net team!</h2>
    <h3>These are the specifications of your order: </h3>
    <hr>
    
                     <p><strong>Order Type: </strong><%= order.type %></p>
                      <p><strong>Order Subject: </strong><%= order.subject %></p>
                      <p><strong>Order Level: </strong><%= order.level %></p>
                      <p><strong>Order Title:</strong> <%= order.title %></p>
                      <p><strong>Order specifications: </strong><%= order.specifications %></p>
                      <p><strong>Order Price: </strong><%= order.price %></p>
                      <p><strong>Order Deadline: </strong><%= order.deadline %></p>

    <hr>
    <h5>You will shortly be contacted by the writer that we will assign to your order. For any further questions, write to us at <em>info@ibessays.net</em></h5>
</body>
</html>